* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Roboto Mono';
}
html, body {
    height: 100%
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394552   ;
}
#base {
    width: 400px;
    height:550px;
    padding: 8px;
    background-color: #212F3C;
    border-radius: 10px;
    border: 5px solid #1C2833;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 5px;
    background-color: #212F3C;
}



#screen {
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px;
    flex: 1 1 auto;
    border: 5px solid #283747;
    color: #808B96;
}

#result {
    background-color: #1C2833;
    flex: 1 1 auto;
    border-radius: 10px;
    text-align: right;
    font-size: 60px;
    transition: 1s;
}

#screen, .row{
    background-color: #1C2833;
    flex: 1 1 auto;
    display: flex;
    column-gap: 5px;
}

.row .operator, .row .num, .row .functions{
    background-color: #283747;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    width: 85px;
    padding: 15px;
    border: 5px solid #1C2833;
    display: flex;
}

.operator, .num , .functions {
    align-items: center;
    justify-content: center;
    background-color: #212F3C;
    color: #808B96  ;
    line-height: 0px;

}


.operator div, .num div, .functions div {
    display: block;
    font-size: 25px;
}

.row {
    background-color: #212F3C  ;
    min-height: 80px;
}

#top-row {
    flex-basis: 0;
    margin-top: 5px;
}

.functions:hover, .num:hover, .operator:hover, 
.num div:hover, .operator div:hover, .functions div:hover {
    transition: 0.5s;
}
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}